<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
    <h3>Edit Listing</h3>

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">

        <label>Title</label>
        <input 
            name="listing[title]" 
            type="text" 
            value="<%= listing.title %>" 
        />
        <br><br>

        <label>Description</label>
        <textarea name="listing[description]">
<%= listing.description %>
        </textarea>
        <br><br>

        <label>Image URL</label>
        <input 
            name="listing[image][url]" 
            type="text" 
            value="<%= listing.image?.url %>" 
        />
        <br><br>

        <label>Price</label>
        <input 
            name="listing[price]" 
            type="number" 
            value="<%= listing.price %>" 
        />
        <br><br>

        <label>Country</label>
        <input 
            name="listing[country]" 
            type="text" 
            value="<%= listing.country %>" 
        />
        <br><br>

        <label>Location</label>
        <input 
            name="listing[location]" 
            type="text" 
            value="<%= listing.location %>" 
        />
        <br><br>

        <button>Update</button>
    </form>

</body>
</html>